<%= render 'form' %>

 <% if session[:user_id].blank? %>
 <p><%= link_to 'Sign in with Facebook', signin_path %></p>
 <%else%>
 <%= link_to 'logout', signout_path %> 
<%end%>
<%#= link_to 'Back', locations_path %>
